// Place all the styles related to the AnnualStats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.floatingHeader {
  position: fixed;
  top: 0;
  /*visibility: hidden;*/
}

.sortable thead tr th{
  cursor: pointer
}